@import url(./__image/places__image.css);
@import url(./__item/places__item.css);
@import url(./__link/places__link.css);
@import url(./__paragraph/places__paragraph.css);
@import url(./__title/places__title.css);
@import url(./__url/places__url.css);
@import url(./__website/places__website.css);

.places {
    padding-top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.places :first-child {
    margin-top: 0;
}

@media screen and (max-width: 1279px) {
    .places{
        width: 93%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding-top: 64px;
        width: 100%;
    }
}