.header__leng-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
    margin-right: 18px;
    transition: 0.3s;
}

.header__leng-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__leng-link {
        font-size: 18px;
        line-height: 24px;
    }
}