.places__item {
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    grid-template-areas: 
    "title website"
    "image paragraph"
    "image paragraph"
    "image paragraph";
    grid-gap: 40px 48px;
}

@media screen and (max-width: 767px) {
    .places__item {
        display: block;
    }
}

